<div class="card text-center">
    <div class="card-header">
        BIENVENIDO
    </div>
    <div class="card-body">

        <div class="card-group, card text-center">
            <div class="card, card text-center">
                <img src="../../../assets/images/antonio.png" class="rounded mx-auto d-block" style="width: 20%;">
            </div>
            <div class=" card, card text-center ">
                <h5 class="card-title ">{{email}}</h5>
                <p class="card-text ">HAS INGRESADO A LA CUENTA DE HISTORIA.</p>
                <p class="card-text "><small class="text-muted ">GRACIAS</small></p>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>